.btn {
  border: none;
  border-radius: 50px;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 18px 40px 12px;
  display: inline-block;
  cursor: pointer;
}

.cta-btn {
  background-color: #12f1fc;
  color: #036575;
  
  &:hover,
  &:focus {
    color: #ef3852;
  }
}

.cta-btn-dark {
  background-color: #036575;
  color: #12f1fc;
}

.info-btn {
  background-color: #5f5f5f;
  color: white;
}

.button_animated {
  overflow: hidden;
  padding-right: 0;
  
  .visible-content,
  .hidden-content {
    transition: right .2s ease;
  }
  .visible-content {
    position: relative;
    left: auto;
    right: 0;
    margin-right: $base-pad;
  }
  .hidden-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: auto;
    right: -100%;
    margin-top: -$base-font-size/2;
  }
  &:hover {
    .visible-content {
      right: 100%;
    }
    
    .hidden-content {
      right: 0;
    }
  }
}